*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100dvw;
  height: 100dvh;
  padding: 10px;
}

header{
  width: 100dvw;
  background-color: aqua;
}


.amira-name{
  font-weight: bold;
  text-decoration: underline;
}


