body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.a{
  margin: 20px;
  padding: 10px;
  display: block;
  transition: all 2s;
  animation-name: rgb-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border: 2px solid grey;
}

.a:active{
  transform: scale(2, 2);
}

@keyframes rgb-animation {
  0%{
    color: red;
  }

  50%{
    color: green;
  }

  100%{
    color: blue;
  }
}
