*{
  box-sizing: border-box;
}
body{
  width: 98dvw;
  height: 97dvh;
  padding: 20px;
}

.main{
  position: relative;
  width: 100%;
  height: 100%;
}

header, footer, nav, section{
  border: 2px solid black;
  border-radius: 10px;
}
header, footer{
  position: absolute;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  top: 0;
  left: 0;
  right: 0;
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
}

nav, section{
  position: absolute;
}

nav{
  left: 0;
  top: 20%;
  bottom: 20%;
  width: 20%;
}

nav ul{
  list-style-type: none;
  color: black;
}

section{
  right: 0;
  top: 20%;
  bottom: 20%;
  width: 80%;
  overflow-y: auto;
  padding: 10px;
}
