* {
  transition: all 1s;
}

p{
  width: 400px;
  height: 300px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

p:hover{
  background-color: green;
  box-shadow: 0 0 10px green;
  border: 2px solid black;
}

#p180r:hover{
  transform: rotate(180deg);
}

#img45r:hover{
  transform: rotate(45deg);
}
