*{
  transition: all 1s;
}

body{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p{
  background-color: red;
  padding: 2px 10px;
  border-radius: 10px;
  text-align: center;
  border: 3px dashed black;
}


#p1:hover{
  transform: scale(1.5, 1);
}

#p2:hover{
  transform: scale(1, 1.5);
}

#p3:hover{
  transform: scale(2, 2);
}
