*{
  transition: all 1s;
}

body{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p{
  background-color: red;
  padding: 2px 10px;
  border-radius: 10px;
  text-align: center;
  border: 3px dashed black;
}


#p1:hover{
  transform: translate(200px, 0px);
}

#p2:hover{
  transform: translate(0px, 200px);
}

#p3:hover{
  transform: translate(200px, 200px);
}
