*{
    margin: 0;
}

#mainBody{
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
}

#reclamationBody{
    padding: 10px;
    background: linear-gradient(to right, #fcd2f0, white);
}

header{
    color: #fff;
    background-color: #863971;
    padding: 20px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 7px;
}

#reclamationH1{
    text-align: left;
    color: rgb(119, 0, 255);
}

video{
    width: 600px;
}

nav{
    background-color: #b70b9a;
    text-align: center;
    position: sticky;
    top: 0;
}

main{
    width: 100%;
    height: 65%;
    position: relative;
}

section{
    width: 75%;
    height: 100%;
    position: absolute;
    left: 0;
}

aside{
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
}

footer{
    width: 100%;
    height: 15%;
    position: fixed;
    color: white;
    background-color: #7b0d68;
    padding: 10px;
}

iframe{
    width: 100%;
    height: 100%;
}

a{
    display: inline-block;
    color: #b9b3b8;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: bold;
    transition: color 0.6s, background-color 0.6s;
}

a:hover{
    background-color: pink;
    color: #641d58;
}

img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #7b0d68;
}

input, textarea{
    color: #fc759f;
    border: 1px solid #fc759f;
    font-weight: bold;
    font-size: 13px;
    height: 20px;
}

input[type="radio"]{
    height: fit-content;
}

fieldset{
    border: 2px red solid;
    border-radius: 20px;
}

legend{
    font-style: italic;
    font-size: x-large;
    color: #b00986;
}

.formButton{
    color: #ec9fd7;
    background-color: #6a1f4f;
    width: 150px;
    height: 50px;
}

label{
    display: inline-block;
    width: 150px;
    height: 30px;
    font-weight: bold;
    color: #fc759f;
}


