form {
  width: 400px;
  margin: auto;
  background-color: beige;
  border: solid 3px black;
  border-radius: 20px 0px 0px 0px;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

fieldset {
  margin-bottom: 15px;
  background-color: rgb(116, 109, 109);
  border: dotted 2px black;
  padding: 10px;
}

legend {
  font-style: italic;
  font-size: 14px;
  color: white;
}

div {
  background-color: rgb(177, 160, 160);
  border: solid 1px white;
  margin-bottom: 5px;
}

label {
  display: inlineblock;
  width: 40%;
}

button {
  box-shadow: -5px 5px 15px black;
}
